@model MusicRator_nologin_.Models.AlbumModel
@{
    ViewBag.Title = "Home Page";
}





<div>
    <h1> Recently Added Albums </h1>

    
     
    <p>Click to view in detail and see the reviews!</p>


    <table>
        <tr>
            <th>
                Album
            </th>
            <th>
                Titel
            </th>
            <th>
                Artiest
            </th>
        </tr>

        @foreach (var album in Model.Albums)
        {

            <tr>
                <td>
                    <a href="Albums/Details/@(album.Id)">
                        <img src="@(album.ImageUrl)" />
                    </a>
                </td>
                <td>
                    @album.Title
                </td>
                <td>
                    @album.Artist
                </td>
            </tr>

        }

    </table>

</div>


<p>

    @Html.ActionLink("Album toevoegen", "Create", "Albums")
</p>

